@import "~bulma/sass/utilities/_all";
@import "../../../node_modules/bulma/bulma.sass";

$primary: #FFC148;
$accent: $turquoise;
$text: #333;
$off-white: rgb(252, 251, 251);
$low-opacity-grey: rgba(51, 51, 51, .15);
